	
// SOCIAL PAGE
	// FIRST SCREEN
.social-fs
	position: relative
	&:before
		content: ""
		background-image: url('../img/socialBG.png')
		background-position: center
		background-size: cover
		position: absolute
		z-index: 5
		top: 0
		bottom: 0
		left: 0
		right: 0
	// &:after
	// 	content: ""
	// 	background-color: rgba(#636363, .5)
	// 	position: absolute
	// 	z-index: 6
	// 	top: 0
	// 	bottom: 0
	// 	left: 0
	// 	right: 0
	& .firstSection--content
		margin-top: 40vh
		&_mainText
			margin-bottom: 0
	
	// WALLPAPER SCREEN
.wallpaper
	text-align: center
	color: $black
	background-image: url('../img/socialWallpaper2.jpg')
	background-position: 0 80%
	background-size: cover
	background-repeat: no-repeat
	padding: 100px 0
	&--wrapper
		padding: 1% 0 20% 0
		margin: 10% 0
		&_body
			margin-top: 50px
.social--r, .social--l
	color: $dark
	& .social--ts_textblock
		margin-top: 7%
		color: $black
		& p
			margin-bottom: 5%
		& .link
			text-decoration: none
			cursor: pointer
			&:hover
				color: $dark
.social--r
	& .social--ts_textblock
		margin-top: 5%

.img-fullwidth
	width: 100%

.social--padding
	padding: 50px 0

.only-img
	height: 80vh
	text-align: center
	color: $black
	background-image: url('../img/socialBotBg2.png')
	background-position: 0 -20%
	background-size: cover
	background-repeat: no-repeat
	padding: 100px 0
	& p
		padding-top: 10%