@import "libs"
@import  "../fonts/DINPro/stylesheet.css"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1



body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666




	
// NAV MENU
.navbar
	border: none
	margin-top: 15vh
.navbar-default
	background-color: transparent
	border: none
	position: absolute
	z-index: 99
	& .navbar-collapse .navbar-nav
	
		& li 
			& a
				color: rgba($white, .5)
				font-size: 16px
				margin-top: 30px
				text-transform: uppercase
				font-weight: 500
				font-family: 'DIN Pro Medium';
				letter-spacing: 1px
				&:hover
					color: rgba($white, 1)

	& .navbar-brand>img
		width: 150px
		margin-top: -10px

.nomargin
	margin: 0 
.nopadding
	padding: 0 
.img-uncolored
	filter: grayscale(100%)

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	overflow-x: hidden
	font-family: 'DIN Pro'
	color: #fff
.img-responsive
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center

::selection
	color: $black
	background-color: $line

// MY CUSTOM STYLES
@import "__index.sass"
@import "__career.sass"
@import "__investors.sass"
@import "__history.sass"
@import "__social.sass"
@import "__contacts.sass"
@import "__news.sass"


// FOOTER
.footer
	background-color: $footer-color
	padding: 20px 0
	&-nav
		display: flex
		flex-direction: row
		justify-content: space-around
		& li
			list-style-type: none
			padding: 0 20px
			&:hover>a
				color: $white
			& a
				text-decoration: none
	&-img
		width: 150px
		display: block
		margin: auto
		padding: 50px 0


.standart--header
	font-family: 'DIN Pro'
	font-size: 52px
	font-weight: bold
	white-space: nowrap
	text-transform: uppercase
	line-height: 1.3

.standat--textcolor
	color: $black
	font-size: 33px
	line-height: 1.5
.fz15
	font-size: 15px
.fz18
	font-size: 18px
	line-height: 2
.fira--sans
	font-family: 'Fira Sans', sans-serif !important
	font-weight: 300 !important
.dinPro
	font-family: 'DIN Pro' !important
.choosen
	color: $white !important
.bold
	font-weight: bold !important
.caps
	text-transform: uppercase	
.link
	color: #23527c

@import "media" // Всегда в конце